# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore environment variables file
.env

# Ignore virtual environments
venv/
*.env

# Ignore database files
*.sqlite3

# Ignore Django migrations
*/migrations/*.py
*/migrations/*.pyc

# Ignore static files
/static/

